<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="mathCheatObjectValue" class="com.springLearn.objdi.MathCheat"></bean>

	<bean id="stu" class="com.springLearn.objdi.Student">
		<property name="id" value="1002"></property>
		<property name="mathCheat" ref="mathCheatObjectValue"/>
	</bean>
	
	<bean id="anotherStu" class="com.springLearn.objdi.AnotherStudent">
		<property name="cheat" ref="mathCheatObjectValue"/>
	</bean>
</beans>